header{
  background-color: lightgrey;
}
/* supprime l'effet lien sur les item du menu et met le texte en noir*/
.navbar a{
  text-decoration: none;
  color: black;
}
/* création du menu burger sans image */
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 1px;
  background-color: #333;
  margin: 6px 0;
}
.burger-menu-open{
  background-color: white;
}
/* icone de fermeture menu */
.close-bar1 {
  width: 35px;
  height: 1px;
  background-color: black;
  margin: 6px 0;
  -webkit-transform: rotate(-45deg) ;
  transform: rotate(-45deg);
}
.close-bar3{ width: 35px;
  height: 1px;
  background-color: black;
  margin: 6px 0;
   -webkit-transform: rotate(45deg) translate(-9px, -6px);
  transform: rotate(45deg) translate(-5px, -5px);
  }
/* position icone fermeture a droite */
  .burger-menu-close{
    text-align: -webkit-right;
    transform: translateY(10px);
  }
/* menu et icone fermeture non affiché par défault */
  #myNav{
    display: none;
  }
/* item menu en colone */
  .overlay-content{
    display: flex;
    flex-direction: column;
  }
/* media burger menu */
@media only screen and (min-width: 520px) {
    .burger-menu-open, .menu-close{
      display: none;
    }
  }
@media only screen and (max-width: 521px) {
  .navbar{
    display: none;
  }
}
